.top-box {
    height: 20vh; 
    width: 98vw;
    border: 5px solid black;
    margin: 10px 0px;
}

.mid-box {
    height: 30vh; 
    width: 98vw;
    border: 5px dotted black;
    margin: 10px 0px;
}

.bot-box {
    height: 35vh; 
    width: 30vw;
    border: none;
    margin: 10px 0;
    position: relative;
    left: 25rem;
    box-shadow: 10px 10px 5px grey;
}

