body {
    margin: 0;
    background-color: #cecece;
    width: 100%;
    Height: 100vh;
}

.header {
    width: 100vw ;
    height: 20vh ;
    background-color: #333333 ;
}

.main {
    background-color: rgb(235, 235, 235);
    margin: 0 auto;
    width: 75vw;
    height: 60vh
}

.footer {
    background-color: #1f1f1f;
    margin: 0 auto;
    width: 75vw;
    height: 40vh;
}